<header>
    <a href="/movies"><p class="logo">Apriori Movie</p></a>
    <div class="datosyBuscador">
      <form action="/movies/buscador" method="GET" class="buscador">
         <input type="text" name="buscar" class="buscar" placeholder="Buscar película">
      </form>
       <div class="derecha">
          <ul class="menuGrande">
                 <li><a href="/signin" class="login">Crear Usuario</a></li>
                 <li><p class="nameUsuario"> </p></li>
                 <li><a href="/ubuscador" class="login">Buscar Usuario</a></li>
                 <li><a href="/movies/pelisPrefes" class="pelisPrefes">Peliculas favoritas</a></li>
                 <li><a href="/movies/generos" class="linkgeneros">Géneros</a></li>
          </ul>
          <div id="myLinks">
                  <a href="/signin" class="login">Ingresar</a>
                  <p class="nameUsuarioMobile"> </p>
                  <a href="/movies/pelisPrefes" class="pelisPrefesMobile">Peliculas favoritas</a>
                  <a href="/movies/generos" class="linkgeneros">Géneros</a>
          </div>
          <a class="iconmenu" onclick="menuFunction();">Menu</a>
        </div>
    </div>
 </header>