<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Crear Reseña</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
  <body>
    <h1>Crear Reseña</h1>
    <form class="logIn" name="crearResenia" action="/resenias/detallePelis" method="post">

      <p><input class="mail" type="email" name="email" value="" placeholder="Ingrese su email"></p>
      <p><input type="password" name="password" placeholder="Ingrese su contraseña"></p>
      <p> <textarea name="texto_resenia" id="" cols="60" rows="10" placeholder="Ingrese su reseña aquí"></textarea></p>
      <p><label for="puntaje_pelicula">Estrellas:</label></p>
      <p>  <select name="estrellas">
          <option value="opc">1</option>
          <option value="opc">2</option>
          <option value="opc">3</option>
          <option value="opc">4</option>
          <option value="opc">5</option>
        </select>
      </p>
      
      


      <p><button type="submit" class="iniciarSesion" >Crear reseña</button></p>

    </form>

    <%- include('./partials/footer')%>

  </body>
</html>
<script type="text/javascript" src="/js/login.js">

</script>
