<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>signin</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
  <body>
    <h1>Crear Reseña</h1>
    <form class="logIn" name="crearResenia" action="/detallePelis" method="post">

      <p><input class="mail" type="email" name="email" value="" placeholder="Ingrese su email"></p>
      <p><input type="password" name="password" placeholder="Ingrese su contraseña"></p>
      <p> <textarea name="resenia" id="" cols="60" rows="10" placeholder="Ingrese su reseña aquí"></textarea></p>


      <p><button type="submit" class="iniciarSesion" >Crear reseña</button></p>

    </form>

    <%- include('./partials/footer')%>

  </body>
</html>
<script type="text/javascript" src="/js/login.js">

</script>
