<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/generos.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
  <body>
    <%- include('./partials/header')%>

<main>
  <h1>Géneros</h1>
  <ul>

  </ul>
</main>
<%- include('./partials/footer')%>

  </body>
  <script type="text/javascript" src="/js/generos.js">

  </script>
</html><script type="text/javascript"src="/js/encabezadolog.js"></script>
