<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/carrousel.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
    
  </head>
<body>
  <%- include('./partials/header')%>

  <ul class="peliculaspopu" class="peliculas">
    <h1 class="peliculaspopulares">Películas Populares</h1>

      <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
  </ul>
  <ul class="peliculasmaspun" class="peliculas">
    <h1>Películas Con Mayor Puntaje</h1>

      <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
  </ul>
  <ul class="proxpeliculas" class="peliculas">
    <h1>Próximos Estrenos</h1>

      <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
  </ul>
  <%- include('./partials/footer')%>

</body>
</html>

<script type="text/javascript" src="/js/home.js"></script>
<script type="text/javascript" src="/js/carrusel.js"></script>
<script type="text/javascript"src="/js/encabezadolog.js"></script>