<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>log in</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
  <body>
    <h1> Inicia sesión</h1>
    <form class="logIn" action="/movies/store" method="post">
      <p><input class="usuario" type="text" name="nombre" value="" placeholder="Ingrese su nombre"></p>
      <p><input class="mail" type="email" name="email" value="" placeholder="Ingrese su email"></p>
      <p><label for="">Fecha de Nacimiento</label></p>
      <p><input class="birth" type="date" name="birth" value="" placeholder="Ingrese su fecha de nacimiento"></p>
      <p><input type="text" name="password" placeholder="Ingrese su contraseña"></p>

      <p><button type="submit" class="iniciarSesion">iniciar sesion</button></p>
    </form>

    <footer>
      <p>Delfina Villanueva, Santiago Bello y Esperanza Uranga</p>
      <img class="logomdb" src="https://www.themoviedb.org/assets/2/v4/logos/312x276-primary-blue-fb50dee3bf664c866fd216e6cee64af33d20707ea3091ddc65c5e8aa4c152eb2.png" alt="">
    </footer>
  </body>
</html>
<script type="text/javascript" src="/js/login.js">

</script>
