<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
  <body>
    <h1> Inicia sesión</h1>
    <form class="logIn" action="/movies" method="post">
      <p><input class="mail" type="email" name="email" value="" placeholder="Ingrese su email"></p>
      <p><input type="password" name="password" placeholder="Ingrese su contraseña"></p>
      <p><button type="submit" class="iniciarSesion">iniciar sesion</button></p>
    </form>

    <%- include('./partials/footer')%>

  </body>
</html>
<script type="text/javascript" src="/js/login.js">

</script>
