<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/carrousel.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
    
  </head>
<body>
  <%- include('./partials/header')%>
<h1>Mis reseñas</h1>
  <%- include('./partials/footer')%>

</body>
</html>

<script type="text/javascript" src="/js/home.js"></script>
<script type="text/javascript" src="/js/carrusel.js"></script>
<script type="text/javascript"src="/js/encabezadolog.js"></script>