<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mis Reseñas</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
  <body>
    <%- include('./partials/header')%>
    <h1 style="margin-top: 100px;"> Confirme su usuario</h1>
    <form class="logIn" name="" action="/misresenias" method="post">

      <p><input class="mail" type="email" name="email" value="" placeholder="Ingrese su email"></p>
      <p><input type="password" name="password" placeholder="Ingrese su contraseña"></p>

      <p><button type="submit" class="iniciarSesion" >Confirmar</button></p>

    </form>
  

    <%- include('./partials/footer')%>

  </body>
</html>

