<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mis Reseñas</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
  <body>
    <%- include('./partials/header')%>
    <br>
    <br>
    <br>
    <h1> Este usuario no existe </h1>
 <button type="button" class="usuarioerror"><a href="/signin" class="loginnuevo">Crear Usuario</a></button>  

    <%- include('./partials/footer')%>

  </body>
</html>

