<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Peliculas Favoritas</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/pelisprefes.css">
    <link rel="stylesheet" href="/css/carrousel.css">
    <link rel="stylesheet" href="/css/headerfooter.css">

  </head>
<body>
 <%- include('./partials/header')%>
    <main>
      <h1>Tus Películas Favoritas</h1>
      <ul class="pelisFavs">
        <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
      </ul>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>

<script type="text/javascript" src="/js/pelisprefes.js"></script>
<script type="text/javascript" src="/js/carrouselgen.js"></script>
<script type="text/javascript"src="/js/encabezadolog.js"></script>