<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Busqueda de Usuario</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/buscador.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
<body>
  <%- include('./partials/header')%>

 <h1>HOLA BUSCA TU USUARIO ACA</h1>
  

     <%- include('./partials/footer')%>
  
  </body>
  </html>


<script type="text/javascript"src="/js/encabezadolog.js"></script>