<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Busqueda de Usuario</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/buscador.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
<body>
  <%- include('./partials/header')%>
<br>
<br>
 <h1 class="">Ingrese el Usuario que desea buscar</h1>
 <br>
 <br>

 <form action="/ubuscador/buscadorresultados" method="GET" class="buscarform">
    <input type="email" name="email" class="buscador2" placeholder="Buscar">
 </form>

 <br>
 <br>
 <br>
 <br>
 <br>
 

     <%- include('./partials/footer')%>
  
  </body>
  </html>


<script type="text/javascript"src="/js/encabezadolog.js"></script>