*{box-sizing: border-box;}
/* IDEA: CSS DEL BODY */
body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  background-color:#dedede  ;
}

ul{
  overflow: hidden;
  padding-left: 0;
margin-top: 5%;
}

li{
  list-style-type: none;
}

li p.movieTitle{
  font-family: 'ABeeZee';
  color: #ff4949;
  text-align: center;
  height: 100px;
  padding-top: 30px;
  font-size: 40px;
  margin-left:0;
}
li img{
  width: 350px;
  margin-left: 35%;
  margin-right: 35%;
  float: left;
  margin-bottom: 5%;
}

li p.movieData{
  padding-left: 20px;
  font-family: 'ABeeZee';
  color: #393e46;
}
ul.recomendaciones{
  display: none;
}
button.recomendaciones{
  background-color: #ff4949;
  color:#f2f2f2;
  font-family: 'ABeeZee';
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin-left: 80px;
}
button.recomendaciones:hover{
  background-color: #f2f2f2;
  color: #ff4949;
}




.reseniasCont {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  


}

.reseniasSection{

  flex-wrap: wrap;
  padding: 10px;
  margin-left: 20px;
 
}

a p.movieTitle{
  text-decoration: none;
  font-family: 'ABeeZee';
  color: #ff4949;
  text-align: center;
  font-size: 20px;
}
li a{
    text-decoration: none;
}
/* IDEA: CSS DE LOS CORAZONES PARA PELIS PREFES */
img.corazonLleno , img.corazonVacio{
width: 50px;
margin-left: 20px;
cursor: pointer;
}
img.corazonVacio:hover{
  opacity: 0.5;
}
img.corazonLleno{
  display: none;
}
/* IDEA: ACA VIENE EL CSS DEL CARRUSEL */
/* Slideshow container */
.genbro {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

li.mySlides1 {
    text-align: center;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.1);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.recomendaciones {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

button.crearNuevar{
  background-color: #ff4949;
  color:#f2f2f2;
  font-family: 'ABeeZee';
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin-left: 80px;
}



button.crearNuevar:hover{
  background-color: #f2f2f2;
  color: #ff4949;

}

h2.reseniastitle{
  font-family: 'ABeeZee';
  color: #ff4949;
  text-align: center; 
  font-size: 30px;
}

a.crearNueva{
  text-decoration:none;
  color:#f2f2f2;
}

a.crearNueva:hover{
  text-decoration:none;
  color: #ff4949;
}


ul.reseniasSection li{
  font-family: 'ABeeZee';
  border-style: solid;
  border-color: #f2f2f2;
  color: #ff4949;

margin-top: 10px;
padding-right: 700px;
background-color: #f2f2f2;
}

ul.reseniasSection li p{
  margin-top: 5px;
  margin-left: 15px;
  padding-right: 650px;
}

