*{box-sizing: border-box;}
body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  background-color:#dedede;
}
h1{
  font-family: 'ABeeZee';
  color: #ff4949;
  text-align: center;
  height: 100px;
  padding-top: 30px;
  font-size: 40px;
  margin-left:0;
}
form.logIn{
  font-family: 'ABeeZee';
  text-align: center;
}
form.logIn p input{
  border-style: solid;
  border-color: #ff4949;
  border-width: thin;
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
}
form.logIn p label{
  color: #ff4949;
}

form.logIn p input:hover{
  border-width: medium;
}
form.logIn p input::placeholder{
  font-family: 'ABeeZee';
  text-align: center;
}
form p select{
  border-style: solid;
  border-color: #ff4949;
  border-width: thin;
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
}
form.logIn p a{
  font-size: 25px;
  text-decoration: none;
  border-style: solid;
  border-color: #ff4949;
  border-width: thin;
  border-radius: 20px;
  background-color: #ff4949;
  color: #dedede;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
form.logIn p a:hover{
  opacity: 0.7;
}
p button.iniciarSesion{
  background-color: #ff4949;
  color:#f2f2f2;
  font-family: 'ABeeZee';
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 20px;
}
p button.iniciarSesion:hover {
  background-color: #f2f2f2;
  color: #ff4949;
}

button.usuarioerror {
  background-color: #ff4949;
  font-family: 'ABeeZee';
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

button.usuarioerror:hover {
  background-color: #f2f2f2;
 
}

a.loginnuevo { 
  text-decoration: none;

  color:#f2f2f2;
}

a.loginnuevo:hover {
  color: #ff4949;
}

button.crear{
  background-color: #ff4949;
  color:#f2f2f2;
  font-family: 'ABeeZee';
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin-left: 80px;
}

button.crear:hover{
  background-color: #f2f2f2;
  color: #ff4949;
}

a.noexistea{
  text-decoration:none;
  color:#f2f2f2;
}

a.noexistea:hover{
  text-decoration:none;
  color: #ff4949;
}