*{box-sizing: border-box;}
body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  background-color:#dedede  ;
}

/* IDEA: CSS BODY */

ul{
  /* overflow: hidden; */
  padding-left: 0;
}

h1{
  font-family: 'ABeeZee';
  color: #ff4949;
  text-align: center;
  height: 100px;
  padding-top: 30px;
  font-size: 40px;
  margin-left:0;
}

h1.peliculaspopulares{
 margin-top: 100px;
}

li{
  /*  float: left; */
  list-style-type: none;
  /* margin-right:4%;
  margin-bottom: 2.5%;
  padding-left: 35px; */
}

li img{
  width: 350px;
  /* margin-left: 300px; */
}

li img:hover{
  opacity: 0.5;
  border-color: grey;
}
a p.movieTitle{
  text-decoration: none;
  font-family: 'ABeeZee';
  color: #ff4949;
  text-align: center;
  font-size: 20px;
  /* margin-left: 350px; */
}
li a{
    text-decoration: none;
}

ul.reseniassection{
    font-family: 'ABeeZee';
    border-style: solid;
    border-color: #f2f2f2;
    color: #ff4949;
  margin-top: 10px;
  background-color: #f2f2f2;
  margin-right: 100px;
  margin-left: 100px;
  }


  ul a.reseniasa{
      text-decoration: none;
      font-family: 'ABeeZee';
      color: #ff4949;
  }

  ul a.reseniasa:hover{
      color: #dedede ;
  }